body{
  background: url('nature.jpg') no-repeat;
  background-size: cover;
  color: #fff;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
ul li{
  float: left;
  width: 220px;
  height: 45px;
  background-color: #000;
  opacity: 0.8;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
}
ul li a{
  text-decoration: none;
  color: #fff;
  display: block;

}
ul li a:hover{
  background-color: blue;
}
ul li ul li{
  display: none;
}
ul li:hover ul li{
  display: block;
}